# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Android / Gradle / NDK
.gradle/
*.apk
*.aab
*.so
*.bin
*.json
*.txt

# VS / IDE
.vscode/
*.csproj
*.sln

# Mac/Windows junk
.DS_Store
Thumbs.db

# YOUR PROBLEM FOLDER
*.utmp/